**/.DS_Store
.git
.gitignore
__pycache__/
.venv/
.ruff_cache/
Dockerfile
.dockerignore
.python-version
README.md
LICENSE
Makefile
.vscode
.pre-commit-config.yaml
.yamllint
assets/header_spamofthetimes.png
text-messages.csv
gcp-serviceaccount-permissions.txt