@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Handjet&family=Source+Code+Pro&display=swap");

._dash-loading {
    text-indent: -9999em;
}

h1 {
    font-family: Handjet, sans-serif;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

body {
    font-family: Montserrat, sans-serif;
}

p {
    margin: 1em 2rem;
}

ol {
    margin: 1em 2rem;
}

/* hide table header */
tr:first-child {
    display: none
}

.dash-table-container .row {
    display: block;
    margin: 0;
  }

footer {
    text-align: right;
    font-size: 0.8rem;
}

.download-menu {
    text-align: center;
}

.center-divider {
    text-align: center;
}

.sms-div {
    display: inline-block;
    margin: 0.25em 2rem;
    font-family: Source Code Pro, monospace;
    background-color: rgb(245, 233, 230);
    padding: 2rem;
    border-radius: 20px;
}

.Select {
    font-family: Montserrat, sans-serif;
}

.dropdown-and-table {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}